<hr class="divider-main"/>
<main class="container d-flex">
    <section class="mx-1 my-3">
        <p class="ms-2 mb-0">Vistas</p>
        <hr class="my-2">
        <div class="d-flex flex-column my-2">
            <goodReads-genre-list 
                class="flex-grow-1" 
                [listGenres]="optionsMyList"
                (filterSelectedEvent)="onFilterChange()"
            />
            <a class="btn btn-dark mt-4 btn-orange" routerLink="/books">
                Agregar más libros
            </a>
        </div>
    </section>
    <hr class="divider-sections">
    <section class="mx-1 my-3 py-2 books-section" >
        <div>
            <h4 class="mb-0 ">Librería</h4>
            <p class="ms-3">{{numberMyBookList}} en la lista de lectura</p>
        </div>

        <section *ngIf="isBoard; else tableList">
            <goodReads-drag-drop-books 
                [pending]="allList.pending"
                [reading]="allList.reading"
                [read]="allList.read"
            />
        </section>

        <ng-template  #tableList>
            <section class="mx-1 row">
                <goodReads-book         
                    class="col-3" 
                    *ngFor="let book of myList" 
                    [book]="book.book"
                    [isSelected]="true"
                />
                <div 
                    *ngIf="!myList.length" 
                    class="d-flex align-items-center flex-column my-auto">
                        <p class="mb-0 my-auto text-notFound">
                            (X_X)
                        </p>
                        <h4 class="mt-2 text-filter">
                            No hay libros dispobibles de Mi lista
                        </h4>
                </div>
            </section>
        </ng-template>
    </section>
</main>
