<nav class="container-fluid d-flex align-items-center px-4" >
    <div class="d-flex flex-grow-1 align-items-center my-3 flex-basis-0">
        <h2 class="m-0 title">Good<strong>Reads</strong></h2>
    </div>
    <ul class="d-flex align-items-center nav-list p-0 m-0">
        <li >
            <a class="px-3 py-2" routerLink="/home" routerLinkActive="active">
                Inicio
            </a>
        </li>
        <li >
            <a class="px-3 py-2" routerLink="/books" routerLinkActive="active">
                Libros
            </a>
        </li>
        <li >
            <a class="px-3 py-2" routerLink="/my-list" routerLinkActive="active">
                Mi Lista
            </a>
        </li>
    </ul>
    
    <div class="flex-grow-1 d-flex justify-content-end align-items-center me-3 flex-basis-0">
        <div class="input-wrapper">
            <input type="text" class="input-element" placeholder="Buscar libro..." />
          
            <svg
               xmlns="http://www.w3.org/2000/svg"
               class="input-icon"
               viewBox="0 0 20 20"
               fill="currentColor"
            >
               <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"
               />
            </svg>
         </div>
    </div>
</nav>