<hr class="divider-main"/>
<main class="container d-flex">
    <section class="mx-1 my-3">
        <div class="d-flex my-2">
            <a class="btn btn-dark btn-orange" routerLink="/books">
                Ver todos los libros
            </a>
        </div>
    </section>
    <hr class="divider-sections">
    <section class="mx-1 my-3 py-2 books-section" >
        <div>
            <div class="d-flex">
                <h4 class="mb-0 d-inline">{{ totalBooks }} resultados</h4>
            </div>
            <p class="ms-3"> de la busqueda "{{bookToSearch | titlecase}}".</p>
        </div>
        <div class="px-2 mb-3 row scroll">
            <goodReads-book 
                class="col-3" 
                *ngFor="let book of availableRest" 
                [book]="book.book"
                [isOnSearch]="true"
            />
            <goodReads-book 
                class="col-3" 
                *ngFor="let book of availableSelected" 
                [book]="book.book"
                [isSelected]="true"
                [isOnSearch]="true"
            />
            <div 
                *ngIf="totalBooks === 0" 
                class="d-flex align-items-center flex-column my-auto">
                    <p class="mb-0 my-auto text-notFound">
                        (X_X)
                    </p>
                    <h4 class="mt-2 text-filter">
                        No hay libros dispobibles de "{{bookToSearch | titlecase }}".
                    </h4>
            </div>
        </div>
    </section>
</main>

